*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.music{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
}
.navbar{
    width: 40vw;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: gr;
    padding: 6px;
    z-index: 1;
    font-size: 2.5rem;
}
.navbar-brand{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.player{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(15, 15, 15);
}
.player .wrapper{
    position: relative;
    top:-50px;
    height: calc(100vh -80px);
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(27, 27, 27);
    box-shadow:0px 0px 30px rgba(0, 0, 0);
}
.details{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.track-art{
    position: relative;
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 6px 5px rgba(0, 0, 0,0.8);
    border-radius: 190px;
}
.now-playing{
    font-size: 1.1rem;
}
.track-name{
    font-size: 2.5rem;
}
.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.active{
    color: black;
}
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
    padding: 25px;
    opacity: 1;
    transition: opacity .2s;
}

.slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek_slider{
    position: relative;
    appearance: none;
    height: 5px;
    background: rgba(0, 0, 0);
    transition: opacity .2s;
    z-index: 1;
}
.slider_container .bar{
    position: absolute;
    width: 50%;
    height: 5px;
    background: rgb(105, 57, 57);
}
.seek_slider::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    background: #1ed760;
    border: 4px solid #ffffff;
    cursor: pointer;
    border-radius: 100%;
    z-index: 4;
}

.seek_slider:hover{
    opacity: 1.0;
}
.seek_slider{
    width: 60%;
}

.current-time,
.total-duration{
    padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
    padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    color: #1ed760;
    cursor: pointer;
}
.randomActive{
    color: black;
}
.rotate{
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
